body {
    background-color: teal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow-y: scroll;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    /* background: url('assets/images/textura-gris.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

/* ESTILOS GENERALES */
.title-section {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: 'Anton', sans-serif;
    font-size: 4em;
    color: #199A9C;
    text-align: center;
    /* border-style: dotted; */
    vertical-align: middle;
     /* text-shadow: 0 0 35px rgba(0,0,0,0.7); */
}


/* INICIO GREETING */
#intro {
    background: url('assets/images/textura-turquesa.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

#intro p {
    font-family: 'Anton', sans-serif;
    font-size: 5em;
}

.introText1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #199A9C;

}

.introText2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #199A9C;
}

 #greeting {
    font-size: 1.5em;
    color: #FFF;
    background-color: transparent; 
    text-align: center;
    margin: auto;
}

#greeting button {
    background-color: #2A2A2A;
    border-style: none;
    border-radius:0.3em;
    font-size: 0.7em;
    padding: 0.5em;
    text-decoration: none;
}

#greeting button a {
    text-decoration-color: none;
    text-decoration: none;
    text-decoration-style: none;
    font-style: none;
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
}

#greeting button a:hover {
    font-weight: 700;
}

#greeting button:hover {
    background-color: #199A9C;
    color: #FFF;
    border-style: none;
    border-radius:0.3em;
    font-size: 0.7em;
    padding: 0.5em;
    text-decoration: none;
}

.descripcion1 {
    padding: 2em;
    text-align: left;
    font-size: 1.5em;
    font-style: italic;
    color: #199A9C;
  
}
/* FIN GREETING */

/* INICIO ESTILO MENU */
#superiorMenu {
    background-color: #2A2A2A !important;
    /* background-color:#b7b7b7 !important; */
    /* font-family: 'Anton', sans-serif;  */
    /* font-family: 'Wire One', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
}
#superiorMenu a {
    color:#FFF;
    margin: 0.5em;
}

#superiorMenu a:hover {
    color: #FFF;
    font-weight: 700;
}

#superiorMenu a:active{
    color:#60FFE9 !important;
}

.isoNav {
    height: 2.5em;
    margin-right: 41em;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    /* background-color:#00d1cd; */
    background-color: #199A9C;
    color: #FFF;
}
/* FIN ESTILO MENU */

/* INICIO ESTILOS ABOUT */
#photo-profile {
    border-radius: 50%;
    width: 50%;
}

#about {
    background: url('assets/images/ligthgray.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Karma', serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.descripcion1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #199A9C;
}

.titulo-descripcion {
     font-family: 'Roboto Condensed', sans-serif;
}

/* INICIO ESTILOS PROJECTS */
#projects {
    height: 100vh;
    background-position: center;  
    background:#34495e url('assets/images/ligthgray.jpg') no-repeat center center fixed;
    background-size:cover;
    position:relative;
    overflow:hidden;
    color:#FFF;
    margin: 0;
    padding: 0;
    width: 100%;
   
}

#projects .title-section {
    color: #FFF;
     
}

/* INICIO ESTILOS SKILLS */
#skills {
    background: url('assets/images/ligthgray.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

#skills .title-section {
    color:#7E7976;
}

[class*=" devicon-"], [class^=devicon-] {
    font-size: 4em;
    padding: 0.3em;
    color:#FFF;
    z-index: initial
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
 
}
li {
    float: left;
    padding-bottom: 1em;
}

/* INICIO ESTILOS CONTACT */
#contact {
    background: url('assets/images/intro.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

#contact .title-section {
    color:#FFF;
}

.awesome {
    color: #FFF;
    font-size: 4em;
    
}

.awesomeTop {
    margin: 0;
    position: relative;
    left: 12px;
    top: 10px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    color: #FFF;
	cursor:pointer;
	/* position: absolute;
    left: 58%;
    margin-top: 47px;
    width: 156%;
    height: 50px; */
}

#footer {
    font-family: 'Karma', serif;
    color: white;
    text-align: center;
}

/* ESTILOS ANIMACION */
#text {
 font-family: 'Anton', sans-serif;   
 padding-top: 2em;
 color: #199A9C;
}

.typed-cursor {
   color: #199A9C;  
}


.console-container{
  font-size: 3em;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    display:inline-block;
    position: relative;
}

@keyframes blink {
  0% {
    opacity: 1;
}

50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

/* ANIMACION FRONT END DEVELOPER */



