body {
    background-color:#199A9C;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow-y: scroll;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    /* background: url('assets/images/textura-gris.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

/* ESTILOS GENERALES */
.title-section {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: 'Anton', sans-serif;
    font-size: 4em;
    color: #199A9C;
    text-align: center;
    /* border-style: dotted; */
    vertical-align: middle;
     /* text-shadow: 0 0 35px rgba(0,0,0,0.7); */
}


/* INICIO GREETING */
#intro {
    background: url('assets/images/textura-turquesa.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

#intro p {
    font-family: 'Anton', sans-serif;
    font-size: 5em;
}

.introText1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #199A9C;
}

.introText2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #199A9C;
}

 #greeting {
    font-size: 1.5em;
    color: #FFF;
    background-color: transparent; 
    text-align: center;
    margin: auto;
}

#greeting button {
    background-color: #2A2A2A;
    border-style: none;
    border-radius:0.3em;
    font-size: 0.7em;
    padding: 0.5em;
    text-decoration: none;
}

#greeting button a {
    text-decoration-color: none;
    text-decoration: none;
    text-decoration-style: none;
    font-style: none;
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
}

#greeting button a:hover {
    font-weight: 700;
}

#greeting button:hover {
    background-color: #199A9C;
    color: #FFF;
    border-style: none;
    border-radius:0.3em;
    font-size: 0.7em;
    padding: 0.5em;
    text-decoration: none;
}
/* FIN GREETING */

/* INICIO ESTILO MENU */
#superiorMenu {
    background-color: #2A2A2A !important;
    /* background-color:#b7b7b7 !important; */
    /* font-family: 'Anton', sans-serif;  */
    /* font-family: 'Wire One', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
}
#superiorMenu a {
    color:#FFF;
    margin: 0.5em;
}

#superiorMenu a:hover {
    color: #FFF;
    font-weight: 700;
}

#superiorMenu a:active{
    color:#60FFE9 !important;
}

.isoNav {
    height: 2.5em;
    /* margin-right: 41em; */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    /* background-color:#00d1cd; */
    background-color: #199A9C;
    color: #FFF;
}
/* FIN ESTILO MENU */

/* INICIO ESTILOS ABOUT */
#photo-profile {
    margin-top: 6em;
    border-radius: 50%;
    width: 80%;
}

#about {
    background: url('assets/images/ligthgray.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Karma', serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.color1 {
    /* background-color: #FFF; */
    margin-bottom: 0;
    box-shadow: 0 0 35px rgba(0,0,0,0.7);
    border-radius: 0.5em;
    padding-bottom: 3em;
    margin-right: 3em;
}

.titulo-descripcion {
     font-family: 'Roboto Condensed', sans-serif;
     text-align: left;
     color: #199A9C;
     font-weight: bold;
}

.descripcion1 {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2em;
    text-align: left;
    font-style: italic;
    color: #199A9C;

}

.descripcion2 {
    font-family: 'Roboto Condensed', sans-serif;
    /* text-align: left; */
}

.descripcion3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
}

.descripcion4 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
}

.descripcion5 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
}

/* INICIO ESTILOS PROJECTS */
#projects {
    height: 100vh;
    background-position: center;  
    background:#34495e url('assets/images/ligthgray.jpg') no-repeat center center fixed;
    background-size:cover;
    position:relative;
    overflow:hidden;
    color:#FFF;
    margin: 0;
    padding: 0;
    width: 100%;
}

#containerProjects {
    padding-top: 9em;
}

#projects .title-section {
    color: #2A2A2A;
     
}

.titleTextProjects {
    font-family: 'Roboto Condensed', sans-serif;
    color: #199A9C;
    font-weight: bold;
    padding-top: 2em;
}

.textProjects {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2A2A2A;
    text-align: left;

}

.imgProject1 {

    width: 70%;
    border-radius: 1em;
}

.btnProjects {
    background-color: #199A9C;
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0.5em;
    border-radius: 0.5em;
    border-style: none;
    margin: 1em;
}

.btnProjects:hover {
    background-color: #2A2A2A;
}

/* INICIO ESTILOS SKILLS */
#skills {
    background: url('assets/images/intro.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

#skills .title-section {
    color:#7E7976;
}

[class*=" devicon-"], [class^=devicon-] {
    font-size: 4em;
    padding: 0.3em;
    color:#FFF;
    z-index: initial;
    padding-bottom: 4em;
}

.devicon {
    padding-bottom: 4em;
}

.devicon:hover {
    color: #199A9C;
}

#containerSkills {

}

#contSkills1 {
   padding-bottom: 2em;
}


#contSkills2 {
    padding-top:5em;
}

.skilltitle {
    font-size: 0.2em !important;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
    padding-top:1em;
    padding-left: 0;;
    margin: auto;
}

/* INICIO ESTILOS CONTACT */
#contact {
    background: url('assets/images/intro.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

#contact .title-section {
    color:#FFF;
}

.textContact {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2A2A2A;

}

.awesome {
    color: #FFF;
    font-size: 3em; 
}

.awesome:hover {
   color: #199A9C;
    font-size: 3em; 
}

.awesomeContact {
    padding-right:0.5em;
}

.awesomeTop {
    margin: 0;
    font-size: 4em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #FFF;
    cursor:pointer;
	/* position: absolute;
    left: 58%;
    margin-top: 47px;
    width: 156%;
    height: 50px; */
}

.awesomeTop:hover {
    color: #199A9C;
    font-size: 4em; 
}


.footer {
    background-color: #2A2A2A;
    position: absolute;
    padding-top: 2em;
    padding-bottom: 3em;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

.textFooter {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-align: center;
}

/* ESTILOS ANIMACION */
#text {
    font-family: 'Anton', sans-serif;   
    padding-top: 2em;
    color: #199A9C;
}

.typed-cursor {
   color: #199A9C;  
}


.console-container{
  font-size: 3em;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    display:inline-block;
    position: relative;
}

@keyframes blink {
  0% {
    opacity: 1;
}

50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

/* ANIMACION FRONT END DEVELOPER */


/* ANIMACION CARDS PROJECTS*/
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    /* margin: 0; */
    margin: auto;
    padding: 0;
    align-content: center;
    /* background-color: red; */
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .frontContent, .backContent {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.frontContent, .backContent {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.frontContent {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.backContent {
	transform: rotateY(180deg);
}
