body {
    background-color: teal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow-y: scroll;
    text-align: center;
    
}

/* INICIO GREETING */
#intro {
  background: url('assets/images/textura-gris.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#intro p {
    font-family: 'Anton', sans-serif;
    font-size: 5em;
}

 #greeting {
    font-size: 1.5em;
    color: #FFF;
    background-color: transparent; 
    text-align: center;
    margin: auto;
}

#greeting button {
    background-color: #2A2A2A;
    border-style: none;
    border-radius:0.5em;
    font-size: 0.7em;
    padding: 0.5em;
    text-decoration: none;
}

#greeting button a {
    text-decoration-color: none;
    text-decoration: none;
    text-decoration-style: none;
    font-style: none;
    color: #FFF;
}

#greeting button:hover {
    background-color: #199A9C;
    color: #FFF;
    border-style: none;
    border-radius:0.5em;
    font-size: 0.7em;
    padding: 0.5em;
    text-decoration: none;
}

/* FIN GREETING */


#photo-profile {
    border-radius: 50%;
    width: 50%;
    margin-right: 5em;
}


/* Inicio estilos menu */
#superiorMenu {
    background-color: #2A2A2A !important;
    /* font-family: 'Anton', sans-serif;  */
    /* font-family: 'Wire One', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    padding: auto;
    margin: auto;
}

#superiorMenu a {
    color:#FFF;
    margin: 0.5em;
}

#superiorMenu a:hover {
    color: #FFF;
}

#superiorMenu a:active{
    color:#199A9C !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color:#199A9C;
    color: #FFF;
}

.navbar-brand {
    padding-right: 39em;
}

/* Fin estilos menu */

#aboutMe {
  background: url('assets/images/ligthgray.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: 'Karma', serif;
}

#projects {
  height: 100vh;
  background-position: center;  
  background:#34495e url("https://raw.githubusercontent.com/Natalbornoz/natalbornoz/master/assets/images/darkgray.jpg") no-repeat center center fixed;
  background-size:cover;
  position:relative;
  overflow:hidden;
  color:#ffffff;
  padding-top:150px;
  padding-bottom: 280px;
  margin-bottom:0;
}

#skills {
  background: url('assets/images/intro.png');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;

}

#skills .title-section {
    color:#7E7976;
}

.devicon {
    width: 2em;
}

.title-section {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: 'Anton', sans-serif;
    font-size: 4em;
    color: #199A9C;
    text-align: center;
    /* border-style: dotted; */
    vertical-align: middle;
}

#contactMe {
  background: url('assets/images/intro.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#contactMe .title-section {
    color:#FFF;
}

#footer {
  background-color: #2A2A2A;
  color: white;
  text-align: center;
}


/* ANIMACION FRONT END */
@keyframes animation {
  from {
    letter-spacing: 32px;
  }
  to {
    letter-spacing: 0;
  }
}

.animated {
  animation: animation 5s ease infinite;
}

h2 {
  text-transform: uppercase;
  white-space: nowrap;
}
/* ANIMACION FRONT END */

