*body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INICIO GREETING */
#intro {
  background: url('../images/textura-gris.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#intro p {
    font-family: 'Anton', sans-serif;
    font-size: 5em;
}

 #greeting {
    font-size: 1.5em;
    color: #FFF;
    background-color: transparent; 
    text-align: center;
    margin: auto;
}

#greeting button {
    background-color: #2A2A2A;
    border-style: none;
    border-radius:0.5em;
    font-size: 0.7em;
    padding: 0.5em;
    text-decoration: none;
}

#greeting button a {
    text-decoration-color: none;
    text-decoration: none;
    text-decoration-style: none;
    font-style: none;
    color: #FFF;
}

#greeting button:hover {
    background-color: #199A9C;
    color: #FFF;
    border-style: none;
    border-radius:0.5em;
    font-size: 0.7em;
    padding: 0.5em;
    text-decoration: none;
}

/* FIN GREETING */


#photo-profile {
    border-radius: 50%;
    width: 65%;
    margin-right: 5em;
}


/* Inicio estilos menu */
#superiorMenu {
    background-color: #2A2A2A !important;
    font-family: 'Anton', sans-serif; 
}

#superiorMenu a {
    color: #FFF;
}

#superiorMenu a:hover {
    color: #199A9C;
}

#superiorMenu a:focus {
    color:red;
    animation-duration: inherit;
}

/* Fin estilos menu */

#aboutMe {
  background: url('../images/intro.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#projects {
   background: url('../images/intro.png');
  height: 100vh;
  background-size: cover;
  background-position: center;  
}

#skills {
  background: url('../images/intro.png');
  height: 100vh;
  background-size: cover;
  background-position: center;

}

.title-section {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: 'Anton', sans-serif;
    font-size: 4em;
    color: #199A9C;
    text-align: center;
    /* border-style: dotted; */
    vertical-align: middle;
}

#contact {
  background: url('../images/intro.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#footer {
  background-color: #2A2A2A;
  color: white;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom:1em;
  bottom: 0;
}

/* Inicio Carousel */
 ul,ol{
    list-style: none;
 }
body{
    font-family: sans-serif;

}
.slideshow{
    width: 100%;
    position:relative;
}

.slider li, ul{
    width: 100%;
}
.slider li{
    overflow: hidden;
}
.slider li img{
    width:100%;
}

.slider .caption{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    padding: 15px 50px;
    color: #fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.slider .caption h2{
    font-size: 50px;
}
.pagination{
    position: absolute;
    top: 102%;
    width:100%;
    display: flex;
    justify-content:center;
}
.pagination li{
    font-size: 20px;
    margin: 2px 5px;
    color:#858585;
    cursor: pointer;
}
.left, .right{
    position:absolute;
    top:0;
    height: 100%;
    display:flex;
    align-items:center;
    color: #fff;
    font-size:35px;
    z-index: 2;
    cursor: pointer;

}

.left{
    left: 10px;
}
.right{
    right: 10px;
}
/* Fin Carousel */