@media (min-width: 670px) and (max-width: 1023px){
  .title-section {
    font-size: 3em;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }

   #about, #skills, #projects, #contact {
     height: 100%;
     height: auto;
  }

  .awesomeTop {
     padding-left: 7em;
  }

  .console-container{
    font-size: 1em;
  }

  .isoNav {
  height: 2.5em;
  margin-right: 0;
}

#photo-profile {
    margin-top: -3em;
}

}

@media (max-width: 669px){
  .title-section {
    font-size: 2em;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    padding: 2em;
    padding-top: 3em;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  #about, #skills, #projects, #contact {
     height: 100%;
     height: auto;
  }

   #awesomeTop {
     padding-left: 7em;
  }

   .console-container{
    font-size: 1em;
  }

      .isoNav {
    height: 2.5em;
    margin-right: 0;
}

#photo-profile {
    margin-top: -3em;
}

}


@media (min-width: 670px) and (max-width: 1023px){
  .color1 {
    /* background-color: #FFF; */
    margin-bottom: 0;
    box-shadow: 0 0 0px rgba(0,0,0,0);
    border-radius: 0;
    padding-bottom: 0;
    margin-right: 0;
}
}

@media (max-width: 669px){
    .color1 {
    /* background-color: #FFF; */
    margin-bottom: 0;
    box-shadow: 0 0 0px rgba(0,0,0,0);
    border-radius: 0;
    padding-bottom: 0;
    margin-right: 0;
}

}


@media (min-width: 670px) and (max-width: 1023px){
  #containerProjects {
    padding-top: 0em;
}
}

@media (max-width: 669px){
#containerProjects {
    padding-top: 0em;
}
}

